<div class="container">
  <h3 style="text-align: center;">Vehicle Details for the Selected Launchpad</h3>
    <div class="table-responsive">          
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Active</th>
          <th>cost per launch</th>
          <th>country</th>
          <th>success rate</th>
          <th>first flight</th>
          <th>type</th>
        </tr>
      </thead>
      <tbody *ngIf = "vehicleDetails!=undefined && vehicleDetails.length > 0">
        <tr *ngFor="let data of vehicleDetails; index as i">
          <td>{{i+1}}</td>
          <td>{{data.name}}</td>
          <td>{{data.active}}</td>
          <td>{{data.cost_per_launch}}</td>
          <td>{{data.country}}</td>
          <td>{{data.success_rate_pct}}%</td>
          <td>{{data.first_flight}}</td>
          <td>{{data.type}}</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
